footer {
  background-color: #353535;
  color: #fff;
  padding: 20px;
  margin-top: 60px; }
  @media only screen and (min-width: 734px) and (max-width: 1199px) {
    footer {
      padding: 20px 60px; } }
  @media only screen and (min-width: 1200px) {
    footer {
      padding: 20px 10%; } }

footer h2 {
  margin-bottom: 20px;
  font-family: 'Shrikhand', cursive;
  font-size: 1.2rem; }
  @media only screen and (min-width: 1200px) {
    footer h2 {
      font-size: 1.7rem; } }

footer ul {
  list-style: none; }

footer ul li {
  margin-bottom: 6px; }

footer ul li a {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem; }
  @media only screen and (min-width: 1200px) {
    footer ul li a {
      font-size: 1.5rem; } }

:root {
  --primary:#9356DC;
  --secondary:#FF79DA;
  --tertiaire:#99E2D0;
  --cover:#f6f6f6; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none; }

.container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Shrikhand', sans-serif;
  font-weight: 900;
  font-size: 2.5rem;
  color: #9356DC;
  background-color: #eee;
  animation: loading 2.5s ease forwards;
  z-index: 1000; }

.container .spinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: change_color 1.5s ease-in infinite alternate; }

.loading_spinner {
  content: "";
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 10px solid #99E2D0;
  border-bottom-color: transparent;
  animation: spinner 0.5s ease infinite alternate; }

@keyframes spinner {
  0% {
    transform: rotate(45deg); }
  25% {
    transform: rotate(90deg); }
  50% {
    transform: rotate(135deg); }
  75% {
    transform: rotate(185deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes change_color {
  from {
    opacity: 0; }
  to {
    opacity: 1;
    color: #FF79DA; } }

@keyframes loading {
  from {
    visibility: visible; }
  to {
    visibility: hidden; } }

.header .header_img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  background-color: var(--cover); }
  @media only screen and (min-width: 734px) and (max-width: 1199px) {
    .header .header_img {
      padding: 30px 0; } }
  @media only screen and (min-width: 1200px) {
    .header .header_img {
      padding: 30px 0; } }

.header .header_img img {
  width: 45%; }
  @media only screen and (min-width: 734px) and (max-width: 1199px) {
    .header .header_img img {
      width: 35%; } }
  @media only screen and (min-width: 1200px) {
    .header .header_img img {
      width: 15%; } }

.header .header_position {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  background-color: #eaeaea;
  box-shadow: inset 0 4px 8px -4px rgba(0, 0, 0, 0.28); }

.header .header_position h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  display: inline-block;
  margin-left: 15px;
  margin-top: 5px; }
  @media only screen and (min-width: 734px) and (max-width: 1199px) {
    .header .header_position h3 {
      font-size: 1.4rem; } }
  @media only screen and (min-width: 1200px) {
    .header .header_position h3 {
      font-size: 1.4rem; } }

.header .header_position i {
  font-size: 1rem;
  display: inline-block; }
  @media only screen and (min-width: 734px) and (max-width: 1199px) {
    .header .header_position i {
      font-size: 1.4rem; } }
  @media only screen and (min-width: 1200px) {
    .header .header_position i {
      font-size: 1.4rem; } }

.section1 {
  padding: 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--cover); }

.section1 h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  text-align: center;
  margin-bottom: 15px; }
  @media only screen and (min-width: 734px) and (max-width: 1199px) {
    .section1 h1 {
      font-size: 1.6rem; } }
  @media only screen and (min-width: 1200px) {
    .section1 h1 {
      font-size: 1.6rem; } }

.section1 p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-align: center; }

.section1 .restaurents {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.26);
  padding: 15px 20px;
  border-radius: 40px;
  display: inline-block;
  width: 78%;
  margin-top: 40px;
  text-align: center;
  transition: all 0.5s ease-in-out; }
  @media only screen and (min-width: 734px) and (max-width: 1199px) {
    .section1 .restaurents {
      width: 35%; } }
  @media only screen and (min-width: 1200px) {
    .section1 .restaurents {
      width: 20%; } }
  .section1 .restaurents:hover {
    background: linear-gradient(to bottom, #f529bb, #6d11dd);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.726); }

.section2 {
  margin-top: 40px; }

.section2 h2 {
  margin: 0 0 20px 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600; }
  @media only screen and (min-width: 734px) and (max-width: 1199px) {
    .section2 h2 {
      font-size: 1.6rem; } }
  @media only screen and (min-width: 1200px) {
    .section2 h2 {
      font-size: 1.6rem;
      margin: 0 0 45px 10%; } }

.section2 .step {
  width: 90vw;
  padding: 20px;
  background-color: var(--cover);
  border-radius: 20px;
  box-shadow: 0 4px 14px -4px rgba(0, 0, 0, 0.28);
  margin-bottom: 20px;
  position: relative; }
  @media only screen and (min-width: 734px) and (max-width: 1199px) {
    .section2 .step {
      width: 40vw; } }
  @media only screen and (min-width: 1200px) {
    .section2 .step {
      width: 22vw; } }

.section2 .step .step_content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%; }

.section2 .step .step_content i {
  color: #756e6e;
  font-size: 1.2rem; }

.section2 .step p {
  display: inline;
  font-family: 'Roboto', sans-serif;
  font-weight: 400; }

.section2 .step span {
  position: absolute;
  left: -3%;
  background-color: #9356DC;
  color: #fff;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 600; }
  @media only screen and (min-width: 734px) and (max-width: 1199px) {
    .section2 .step span {
      left: -5%; } }
  @media only screen and (min-width: 1200px) {
    .section2 .step span {
      left: -3%; } }

.section2 .step_flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media only screen and (min-width: 734px) and (max-width: 1199px) {
    .section2 .step_flex {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center; } }
  @media only screen and (min-width: 1200px) {
    .section2 .step_flex {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      width: 84vw;
      margin: 0 auto;
      padding-right: 2%; } }

.section3 {
  margin-top: 40px; }

.section3 h2 {
  margin: 0 0 20px 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600; }
  @media only screen and (min-width: 734px) and (max-width: 1199px) {
    .section3 h2 {
      font-size: 1.6rem; } }
  @media only screen and (min-width: 1200px) {
    .section3 h2 {
      font-size: 1.6rem;
      margin: 0 0 45px 10%; } }

.section3 .cards {
  margin: auto;
  width: 100vw; }
  @media only screen and (min-width: 734px) and (max-width: 1199px) {
    .section3 .cards {
      width: 80vw; } }
  @media only screen and (min-width: 1200px) {
    .section3 .cards {
      width: 80vw; } }

.section3 .card {
  width: 90vw;
  height: 250px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 15px 1px;
  margin: 20px auto;
  position: relative; }
  @media only screen and (min-width: 734px) and (max-width: 1199px) {
    .section3 .card {
      margin: 10px;
      width: 37vw;
      display: inline-block; } }
  @media only screen and (min-width: 1200px) {
    .section3 .card {
      margin: 10px;
      width: 38vw;
      display: inline-block; } }

.section3 .card h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  margin-left: 10px;
  margin-top: 6px;
  color: #000; }

.section3 .card p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  margin-left: 10px;
  margin-top: 5px;
  color: #000; }

.section3 .card span {
  background-color: var(--tertiaire);
  color: #5d9e55;
  padding: 5px 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  border-radius: 3px;
  position: absolute;
  top: 4%;
  right: 4%; }

.section3 .card .fa {
  font-size: 1.5rem;
  position: absolute;
  bottom: 15%;
  right: 8%;
  background: #413b3b;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.4;
  transition: opacity 1s ease-in-out; }

.section3 .card .fa:hover {
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 1; }

.section3 img {
  width: 100%;
  height: 70%;
  border-radius: 20px 20px 0 0;
  object-fit: cover; }
