footer {
  background-color: #353535;
  color: #fff;
  padding: 20px;
  margin-top: 60px; }
  @media only screen and (min-width: 734px) and (max-width: 1199px) {
    footer {
      padding: 20px 60px; } }
  @media only screen and (min-width: 1200px) {
    footer {
      padding: 20px 10%; } }

footer h2 {
  margin-bottom: 20px;
  font-family: 'Shrikhand', cursive;
  font-size: 1.2rem; }
  @media only screen and (min-width: 1200px) {
    footer h2 {
      font-size: 1.7rem; } }

footer ul {
  list-style: none; }

footer ul li {
  margin-bottom: 6px; }

footer ul li a {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem; }
  @media only screen and (min-width: 1200px) {
    footer ul li a {
      font-size: 1.5rem; } }

:root {
  --primary: #9356DC;
  --secondary: #FF79DA;
  --tertiaire: #99E2D0;
  --cover: #f6f6f6; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none; }

body {
  background-color: var(--cover); }

header {
  padding: 10px 0;
  position: relative; }

header .header_img {
  width: 45%;
  margin: 0 auto; }
  @media only screen and (min-width: 734px) and (max-width: 1199px) {
    header .header_img {
      width: 35%; } }
  @media only screen and (min-width: 1200px) {
    header .header_img {
      width: 15%; } }

header .header_img img {
  width: 100%; }

header a {
  color: #000; }

header i {
  position: absolute;
  bottom: 50%;
  left: 5%;
  transform: translateY(50%);
  font-size: 1.4rem; }

.img_cover {
  width: 100%;
  height: 350px;
  position: relative; }

.img_cover img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.special {
  width: 100%;
  border-radius: 30px 30px 0 0;
  background-color: var(--cover);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 0;
  position: absolute;
  bottom: -20%; }
  @media only screen and (min-width: 734px) and (max-width: 1199px) {
    .special {
      bottom: -15%; } }
  @media only screen and (min-width: 1200px) {
    .special {
      bottom: -15%; } }

.special h1 {
  font-family: 'Shrikhand', cursive;
  font-weight: 500;
  font-size: 1.5rem; }
  @media only screen and (min-width: 734px) and (max-width: 1199px) {
    .special h1 {
      font-size: 2rem; } }
  @media only screen and (min-width: 1200px) {
    .special h1 {
      font-size: 2.5rem; } }

.special span .fa {
  font-size: 1.5rem;
  background: #413b3b;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.4;
  transition: opacity 1s ease-in-out; }
  @media only screen and (min-width: 734px) and (max-width: 1199px) {
    .special span .fa {
      font-size: 2rem; } }
  @media only screen and (min-width: 1200px) {
    .special span .fa {
      font-size: 2.5rem; } }

.special span .fa:hover {
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 1; }

.menu .part {
  margin-top: 14%; }
  @media only screen and (min-width: 1200px) {
    .menu .part {
      margin-top: 6%; } }

.menu .part > h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: rgba(15, 10, 10, 0.596);
  margin: 0 0 20px 20px;
  position: relative;
  text-transform: uppercase; }
  @media only screen and (min-width: 734px) and (max-width: 1199px) {
    .menu .part > h3 {
      font-size: 1.5rem;
      margin: 0 0 30px 30px; } }
  @media only screen and (min-width: 1200px) {
    .menu .part > h3 {
      font-size: 2rem;
      margin: 0 0 40px 10%; } }

.menu .part > h3::after {
  content: "";
  width: 40px;
  height: 3px;
  background-color: var(--tertiaire);
  position: absolute;
  bottom: -5px;
  left: 0; }
  @media only screen and (min-width: 734px) and (max-width: 1199px) {
    .menu .part > h3::after {
      width: 60px; } }
  @media only screen and (min-width: 1200px) {
    .menu .part > h3::after {
      width: 80px; } }

.menu .part .element {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  width: 90vw;
  margin: 20px auto;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.055);
  overflow: hidden; }
  @media only screen and (min-width: 734px) and (max-width: 1199px) {
    .menu .part .element {
      padding: 0;
      width: 80vw; } }
  @media only screen and (min-width: 1200px) {
    .menu .part .element {
      padding: 0;
      width: 80vw; } }

.menu .part .element:hover .right {
  transform: translateX(0); }

.menu .part .element:hover .left {
  width: 82%; }

.menu .part .element:hover .right i {
  transform: rotate(360deg); }

.menu .part .element .left {
  padding: 12px 4px;
  width: 100%;
  transition: all 0.5s ease-in-out; }

.menu .part .element .left .left_flex {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.menu .part .element .right {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  background: #a8e8d7;
  border-radius: 0 8px 8px 0;
  color: #fff;
  transform: translateX(105%);
  transition: all 0.5s ease-in-out 0.1s; }
  @media only screen and (min-width: 1200px) {
    .menu .part .element .right {
      transform: translateX(115%); } }

.menu .part .element .right i {
  transform: rotate(180deg);
  transition: transform 0.5s ease-in-out 0.4s; }
  @media only screen and (min-width: 734px) and (max-width: 1199px) {
    .menu .part .element .right i {
      font-size: 2rem; } }
  @media only screen and (min-width: 1200px) {
    .menu .part .element .right i {
      font-size: 2.5rem; } }

.menu .part .first_element {
  animation: fade 2s ease-in-out forwards;
  opacity: 0; }

.menu .part .second_element {
  animation: fade 2s ease-in-out 0.2s forwards;
  opacity: 0; }

.menu .part .third_element {
  animation: fade 2s ease-in-out 0.4s forwards;
  opacity: 0; }

.menu .part .element h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  margin-left: 10px;
  color: #000; }
  @media only screen and (min-width: 734px) and (max-width: 1199px) {
    .menu .part .element h3 {
      font-size: 1.5rem; } }
  @media only screen and (min-width: 1200px) {
    .menu .part .element h3 {
      font-size: 2rem; } }

.menu .part .element p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  margin-left: 10px;
  margin-top: 5px;
  color: #000;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 290px; }
  @media only screen and (min-width: 734px) and (max-width: 1199px) {
    .menu .part .element p {
      font-size: 1.5rem;
      width: 100%; } }
  @media only screen and (min-width: 1200px) {
    .menu .part .element p {
      font-size: 2rem;
      width: 100%; } }

.menu .part .element .price {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  color: rgba(15, 10, 10, 0.753); }
  @media only screen and (min-width: 734px) and (max-width: 1199px) {
    .menu .part .element .price {
      font-size: 1.5rem; } }
  @media only screen and (min-width: 1200px) {
    .menu .part .element .price {
      font-size: 2rem; } }

.menu .button_order {
  display: flex;
  justify-content: center;
  align-items: center; }

.menu .button_order .order {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.26);
  padding: 15px 20px;
  border-radius: 40px;
  display: inline-block;
  width: 55%;
  margin: 40px auto;
  text-align: center;
  transition: all 0.5s ease-in-out; }
  .menu .button_order .order:hover {
    background: linear-gradient(to bottom, #f529bb, #6d11dd);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.726); }
  @media only screen and (min-width: 734px) and (max-width: 1199px) {
    .menu .button_order .order {
      width: 25%;
      padding: 20px 10px; } }
  @media only screen and (min-width: 1200px) {
    .menu .button_order .order {
      width: 15%;
      padding: 20px 10px;
      margin: 80px auto; } }

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(20px); }
  to {
    opacity: 1;
    transform: translateY(0); } }
