@import "media";
footer{
    background-color: #353535;
    color: #fff;
    padding: 20px ;
    margin-top: 60px;
    @include tablette{
        padding: 20px 60px ;
    }
    @include desktop{
        padding: 20px 10% ;
    }
}
footer h2{
    margin-bottom: 20px;
    font-family: 'Shrikhand', cursive;
    font-size: 1.2rem;
    @include desktop{
        font-size: 1.7rem;
    }
}
footer ul{
    list-style: none;
}
footer ul li{
    margin-bottom: 6px;
}
footer ul li a{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    @include desktop{
        font-size: 1.5rem;
    }
}